#nav-content {
	position: fixed;
	width: 20%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 10px;
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url("foto.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#main-content {
	padding: 0;
	margin-left: 22%;
}

#nav-bar {
	margin-left: 40px;
	margin-right: 40px;
	color: #FFFFFF;
}

ul {
	margin-top: 100px;
	list-style-type : none;
	padding: 0;	

}
li {
	margin: 10px;
	border: 1px solid #FFF;
}

li a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #FFF;
}

li a:hover {
	background-color: #555;
	color: white;
}

body {
	background-color: #f2e6ff;
	z-index: -1;
}

.section-title {
	border-bottom-color: #ff9999;
	border-bottom-style: double;
	border-bottom-width: 4px;
	box-sizing: : border-box;
	color: #ff9999;
	direction: ltr;
	display: block;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 96px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 60px;
	padding-bottom: 3px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	text-rendering: optimizeLegibility;
}

.subline {
	box-sizing: border-box;;
	color: #660066;
	direction: ltr;
	display: block;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 20px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	text-rendering: optimizeLegibility;
	text-transform: uppercase;
}

#header-pic {
	border-style: ridge;
	border-color: #FF9999;
	border-width: 2px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	color: #FFFFFF;
	direction: ltr;
	width: 1400px;
	max-width: 100%:

}

.row-divider {
	margin-top: 12px;
	box-sizing: border-box;
	color : #FF3333;
	opacity: 0.7;
	direction: ltr;
	display: block;
	height: 270px;
	line-height: 22px;
	max-width: 100%;
	border-bottom-color: rgb(228,228,228);
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.left-section {

	box-sizing: border-box;
	border-right-color: rgb(228,228,228);
	border-right-style: solid;
	border-right-width: 2px;
	float : left;
	position: relative;
	width: 50%;
}

.right-section {
	float : right;
	position: relative;
	width: 50%;
}

.smaller-left {
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 48px;
	text-transform: uppercase;
	text-align: right;
}

.smaller-right {
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 48px;
	text-transform: uppercase;
	text-align: left;
}

.annivdate, .annivsen1 {
	font-size: 40px;
	font-style: normal;
	font-weight: bold;
	line-height: 20px
}

.annivyear {
	font-size: 192px;
	font-style: normal;
	font-weight: normal;
	line-height: 220px;
}

.annivsen2 {
	font-size: 100px;
	font-style: normal;
	font-weight: normal;
	line-height: 130px
}

.annivsen3{
	font-size: 60px;
	font-style: normal;
	font-weight: bold;
	line-height: 50px
}

#hearts-pic {
	position: relative;
}

.divide-story {
	box-sizing: border-box;
	color: rgb(131,131,131);
	direction: ltr;
	display: block;
	float: none;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	margin-left: 80px;
	margin-right: 80px;
	position: relative;
}

.boy-story {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	float: left;
	width: 50%;

}

.image-1, .image-2 {

	border-style: dotted;
	border-color: #FF9999;
	border-width: 10px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	color: #FFFFFF;
	direction: ltr;
	width: auto;
	max-width: 50%:
}